spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://pgsql-ticket:5432/tickets-users
    username: pg-tickets-users
    password: tickets-users-password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 4001
